<form class="k-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Personal Information</legend>
    <label class="k-form-field">
      <span>
        Name <span class="k-required">*</span>
      </span>
      <input class="k-textbox" placeholder="John Smith"
             [(ngModel)]="formModel.name" name="name" required
             #name="ngModel" #spy/>
      <div class="validationError" [hidden]="name.valid || name.pristine">Please provide your full name</div>
      <br>TODO: remove this: {{spy.className}}
    </label>
    <label class="k-form-field">
      <span>
        Gender<span class="k-field-info">(optional)</span>
      </span>
      <input type="radio" name="gender" id="female" class="k-radio"
             value="female" [(ngModel)]="formModel.gender">
      <label class="k-radio-label" for="female">Female</label>
      <input type="radio" name="gender" id="male" class="k-radio"
             value="male" [(ngModel)]="formModel.gender">
      <label class="k-radio-label" for="male">Male</label>
    </label>
    <label class="k-form-field">
      <span>
        Date of Birth <span class="k-required">*</span>
      </span>
      <kendo-datepicker [(ngModel)]="formModel.dateOfBirth" name="dateOfBirth"
                        #dateOfBirth="ngModel" required ></kendo-datepicker>
      <div class="validationError" [hidden]="dateOfBirth.valid || dateOfBirth.pristine">Please provide your Date of Birth</div>
    </label>
  </fieldset>
  <fieldset>
    <legend>Address</legend>
    <label class="k-form-field">
      <span>
        Street Address <span class="k-required">*</span>
      </span>
      <input class="k-textbox" placeholder="123 Sample Street"
             [(ngModel)]="formModel.address" name="address"
             #address="ngModel" required />
      <div class="validationError" [hidden]="address.valid || address.pristine">Please provide your Street Address</div>
    </label>
    <label class="k-form-field">
      <span>
        Zipcode <span class="k-required">*</span>
      </span>
      <input class="k-textbox" placeholder="01234"
             [(ngModel)]="formModel.zipcode" name="zipcode"
             #zipcode="ngModel" required />
      <div class="validationError" [hidden]="zipcode.valid || zipcode.pristine">Please provide your Zipcode</div>
    </label>
    <label class="k-form-field">
      <input type="checkbox" id="billingCheck" class="k-checkbox" checked="checked">
      <label class="k-checkbox-label" for="billingCheck">Billing Address is the same as Shipping</label>
    </label>
  </fieldset>
  <fieldset>
    <legend>Misc</legend>
    <label class="k-form-field">
      <span>
        Sign me up for the newsletter!<span class="k-field-info">(optional)</span>
      </span>
      <kendo-switch [(ngModel)]="formModel.newsletter" name="newsletter"></kendo-switch>
    </label>
  </fieldset>
  <button type="submit" kendoButton
          [primary]="true" [disabled]="!userForm.form.valid">Create Account</button>
  <button kendoButton>Cancel</button>
</form>
